form.modul.fullscreen action="/rooms/login" method="post"
    h2 Join a chatroom
    input type="text" name="invite" placeholder="The invite for the room" required=true
    input type="submit" value="Join"