form.modul action="/rooms" method="post"
    input type="text" name="name" placeholder="The name of the group" required=true
    input type="text" name="password" placeholder="The password for the group" required=true
    input type="submit" value="Create"