@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
    --accent: #a65fec
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html, body {
    height: 100%;
    width: 100%;

    background-color: #000;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Inter var', sans-serif;
    color: white;
}

#wrapper {
    width: 100%;
    height: 100%;
}

nav#ui {
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1.5em 2em 1.5em 2em;

    border-bottom: 1px solid white;
}

nav#ui h1 {
    font-weight: 800;
    font-size: 2rem;
}

nav#ui div#links {
    display: flex;
    gap: 1em;
}

nav#ui div#links a {
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    opacity: 0.5;
}

nav#ui div#links a:hover {
    opacity: 1;
    transition: 0.2s;
}

.extra_space {
    gap: 3em !important;
}

.modul_min {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.fullscreen {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 500px;
}

.modul a {
    color: white;
    opacity: 0.4;
}

.modul input {
    outline: none;
}

.modul input[type=text], input[type=password] {
    background-color: transparent;
    padding: 1em;

    font-family: 'Inter var', sans-serif;
    font-weight: 600;
    color: white;

    border: 2px solid white;
    border-radius: 0.5em;
}

.modul input[type=text]::placeholder input[type=password]::placeholder {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.4);
}

.modul input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    padding: 1em;
    cursor: pointer;

    font-family: 'Inter var', sans-serif;
    font-weight: 800;
    color: black;
    text-decoration: none;

    border: none;
    border-radius: 0.5em;
}

.modul input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus {
    background-color: var(--accent);
    transition: 0.2s;
}

.modul input:focus {
    border: 2px solid var(--accent);
    transition: 0.2s;
}

.modul input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: var(--accent);
    transition: 0.2s;
}

.message_box {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 2em;
}

.message_box .display {
    height: 100%;
    overflow: scroll;
}

.message_box form input[type=text], input[type=password] {
    width: 100%;
}

.message_box form {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
}

.modul.message {
    display: flex;
    flex-direction: row;
}

div#rooms {
    display: flex;
    height: 100%;
}

div#rooms div#sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid white;
    padding: 1em;
    gap: 1em;
}

div#room_display {
    display: flex;
    width: max-content;
    height: max-content;
    padding: 3em;
    gap: 3em;
}

a.room_card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
}