form.modul action="/message" method="post"
    input type="text" name="content" placeholder="Your message..." required=true
    input type="hidden" name="room_id" value="#{@room_id}"
    input type="submit" value=">"