form.input-group action="/message" method="post"
    i.input-group-text.bi.bi-chat-left-fill#addon
    input type="hidden" name="room_id" value="#{@room_id}"
    input.form-control type="text" name="content" placeholder="Your message..." required=true maxlength=Mer::Constants::MAX_CONTENT_LENGTH aria-describedby="addon"